@font-face {
    font-family: 'TF2Secondary';
    src: url('tf2secondary.eot');
    src: url('tf2secondary.eot') format('embedded-opentype'),
         url('tf2secondary.woff') format('woff'),
         url('tf2secondary.ttf') format('truetype'),
         url('tf2secondary.svg#TF2Secondary') format('svg');
}
@font-face {
    font-family: 'TF2BuildTF2Build';
    src: url('tf2build.eot');
    src: url('tf2build.eot') format('embedded-opentype'),
         url('tf2build.woff') format('woff'),
         url('tf2build.ttf') format('truetype'),
         url('tf2build.svg#TF2BuildTF2Build') format('svg');
}
#navbar
{
	width:100%;
	position:absolute;
	left:0%;
	top:0%;
        
}
#homepage-contents
{
    position:absolute;
    width:70%;
    height:90%;
    padding-bottom:10%;
    margin-left:16%;
    margin-right:6%;
}
#footer
{
    position:fixed;
    height:50px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
}
#editor-information
{
    position:absolute;
    width:20%;
    height:10%;
    top:20%;
    left:80%;
}
body
{
    font-family: 'TF2Secondary';
}

#contents{
    margin-top:2%;
}

.breadcrumb{
    margin-top:3%;
}

.container-fluid{
    font-family: 'TF2BuildTF2Build';
}

.mapthumb{
    width:150px;
}